
@{
    ViewData["Title"] = "View";
}

<h2>@ViewData["Title"]</h2>

<section class="row card-group">

    @foreach (var c in Model)

    {

        <div class="col-sm-6 col-lg-4 mb-3">

            <div class="card mb-4 text-center h-100">

                <div class="card-body">

                    <a asp-controller="Store" asp-action="Browse" asp-route-category="@c.Name">@c.Name</a>

                </div>

            </div>

        </div>

    }

</section>